/* HEADER */

header {
    min-height: 50px;
    background-color: #2c3e50;
}


/* JUmbotron */

#jumbotron {
    min-height: 500px;
    background-color: #1abc9c;
}


/* ABOUT */

.about {
    min-height: 400px;
    background-color: #1abc9c;
}

.bg-teal {
    background-color: #1abc9c;
}


/* CONTACT */

#contanct-me {
    min-height: 500px;
}

#contact-me .form-control {
    border-radius: 0;
    border-width: 0 0 1px 0;
}


/* FOOTER */

footer {
    min-height: 50px;
}

.footer-top {
    background-color: #3a546d;
}

.footer-buttom {
    background-color: #2c3e50;
}